body { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.conteiner {
    width: 70%;
    background-color: yellow;
    margin-left: 15%;


} 
.header { 
    color: gray;
}
.mainav {
    background-color: yellow;
    color: black;

}
.content { 
    color: gray;

}
.mainleft { color: gray;
    
}
.footer {
color: gray;
}
.mainav li {
    display: inline;
    background-size: 50%;
    padding: 0px 10px;
}
.referencia {
    float: left;
    color: yellow;
    background-size: 70%;
    padding: 0px 8px;
}
.mainav li a{
    text-decoration: none;
    font-size: 35px;
    color: black;
}

