body {
    background: url(/imgs/canil-filhotes.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
.container{
    width: 80%;
    margin-left: 10%;
}

.logo{
    width: 60%;
    float: left;
    background-color: gray;
    color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-size: 12.5px;
}

.nav{
    width: 40%;
    float: right;
    background-color: yellow;
    
}

.nav li{
    display: inline;
    padding: 5%;
}

.nav li a {
    text-decoration: none;
    color: gray;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.content {
    text-align: center;
    padding: 6%;
}
.content p {
    text-align: justify;
}

.footer {
     clear: both;
    background-color: yellow;
    color: black;
    text-align: center;
}